
.DS_Store
*.gz
Google_dataset_news/sent-comp.train01.json
Google_dataset_news/comp-data.eval.json
*.swp
codes/.vector_cache/glove.840B.300d.txt
codes/.vector_cache/glove.840B.300d.txt.pt
codes/.vector_cache/glove.840B.300d.zip
